@import "../../partials/params";
@import "../../partials/mixins";

.home-page {

    &_label {
        @include clear;
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;

        & img {
            width: auto;
            height: 150px;
        }
    }

    &_logo {
        margin-bottom: 30px;

        & h1 {
            font-family: "PT Serif";
            color: $brown;
            font-size: 50px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &_article {
        margin-bottom: 60px;

        & h4{
            font-style: italic;
            line-height: 1.4;
            color: #ffffff;
            margin-bottom: 30px;
        }

        & h3 {
            text-align: center;
            color: $brown;


            & a {
                color: #481e00;
                text-decoration: underline;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    &_buttons {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;

        & button {
            font-family: "PT Serif";
            margin-right: 20px;
            color: $brown;
            text-transform: uppercase;
            background: #ffffff;
            border: 1px solid $brown;
            border-radius: 10px;
            padding: 10px 23px;

            & a {
                color: $brown;
            }
        }
    }

    &_footer {
        margin: 20px 0;
        border-top: 1px solid $brown;
        border-bottom: 1px solid $brown;
        & h5 {
            text-transform: uppercase;
            color: #ffffff;
            margin: 15px 0;
        }
    }
}

@media (max-width: 599.98px) {
    .home-page {
        &_label {
            margin-right: 40px;

            & img {
                width: auto;
                height: 120px;
            }
        }
        &_logo {
            margin-bottom: 20px;
            & h1 {
                font-size: 30px;
            }
        }
        &_article {
            margin-bottom: 30px;

            & h4{
                margin-bottom: 30px;
            }
        }
        &_buttons {
            padding-bottom: 20px;
            & button {
                padding: 8px 18px;
                font-size: 14px;

                & a {
                    color: $brown;
                }
            }
        }
    }
}

@media (max-width: 499.98px) {
    .home-page {
        &_label {
            margin-right: 30px;

            & img {
                width: auto;
                height: 100px;
            }
        }
        &_logo {
            margin-bottom: 20px;
            & h1 {
                font-size: 25px;
            }
        }
    }
}



