@import "../../partials/params";
@import "../../partials/mixins";

.income-tab {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  &_sum-bill{
    display: flex;
    justify-content: space-between;
  }
  &_category-name {
    @include clear;
    display: flex;
    justify-content: center;
    color: $brown;
    margin: 10px 0;
    border-top: 1px #fff59d dashed;

     & h3 {
      padding-top: 10px;
       font-weight: 400;
     }
  }

  &_category-helpertext {
    display: flex;
    justify-content: center;
    color: #f44336;
  }

  &_category-button {
    margin: 10px 0;

    & button.ui {
      height: 36px;
      margin-bottom: 6px;

      &#addButton {
        display: inherit;
      }

      & svg {
        margin-left: 5px;
      }
    }
  }
  &_add-bill {
    display: flex;
    justify-content: flex-end;
  }

  &_input {
    @include clear;

    & input {
      height: 36px;
    }
    & button {
      margin: 0;
    }
  }

  &_data {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px #fff59d dashed;

    & legend {
      margin: 0;
      color: #481e00;
      font-size: 16px;
    }
  }

  &_data-input {
    display: flex;
    justify-content: center;
    & .naming {
      color: #f50057;
      margin-right: 10px;
      padding-top: 5px;
    }
    & input {
      width: 80px;
    }
    & button {
      color: #f50057;
    }
  }

  &_send-buttons {
    @include clear;
    display: flex;
    justify-content: center;
    background-color: #fff59d;
    padding: 10px 0;

    & button.ui.yellow {
      margin-right: 20px;
      color: black;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
    }
    & button.ui.olive {
      color: black;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}


@media (max-width: 599.98px) {
  .income-tab {
    &_add-bill {
      padding: 0;
    }
  }
}