@import "../../partials/params";
@import "../../partials/mixins";


@media (max-width: 599.98px) {
  .tabs-plus {
    width: 400px;
  }
}

@media (max-width: 499.98px) {
  .tabs-plus {
    width: 300px;
  }
}