@import "../../partials/params";
@import "../../partials/mixins";

.login-page {
  padding: 50px 60px;
  & .row {
    background: #ffffff;
    border-radius: 10px;
  }

  &_label {
    @include clear;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .mb-5 {
      margin: 0 !important;
    }

    & img {
      width: auto;
      height: 150px;
      border-radius: 3px;
    }
  }

  &_form {
    margin: 20px 10px;

    & h2 {
      font-family: "PT Serif";
      text-transform: uppercase;
      color: $brown;
      text-align: center;
    }
    & .form-group {
      padding-bottom: 12px;

      & label {
        color: $brown;
      }
      & input {
        border-color: #ae8600;
        & .form-control:focus {
            box-shadow: none;
        }
      }
    }
    & .form-group.has-error {
      padding-bottom: 0;
      margin-bottom: 9px;

      & .help-block {
        font-size: 13px;
      }
    }

    & .form_buttons.form-group {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      & button {
        font-family: "PT Serif";
        margin-right: 15px;
        margin-left: 15px;
        color: $brown;
        text-transform: uppercase;
        background: #ffffff;
        border: 1px solid $brown;
        border-radius: 10px;
        padding: 10px 23px;

        & a {
          color: $brown;
        }
      }
      & .spinner-border {
        margin-top: 8px;
        color: $brown;
      }
      & .spinner-border-null {
        width: 2rem;
        height: 2rem;
        opacity: 0;
      }
    }

    & .form-group.form-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $brown;
      a {
        margin-right: 5px;
        color: $brown;
      }
    }
  }
}

@media (max-width: 599.98px) {
  .login-page {
    &_label {
      margin: 20px 20px 0 20px;

      img {
        width: auto;
        height: 100px;
      }
    }

    &_form {
      & h2 {
        font-size: 20px;
      }
    }

    & .form_buttons.form-group {
      & button {
        font-size: 15px;
        padding: 6px 15px;
      }
    }
  }
}