@import "../../partials/params";
@import "../../partials/mixins";

.common-info {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  &_header {
    @include clear;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $brown;
    margin-bottom: 10px;

    .header_user {
      margin: 10px 0 0 10px;
      h5 {
        margin: 10px 0;
        font-family: "PT Serif";
        color: $brown;
        font-size: 22px;
      }
      button {
        font-family: "PT Serif";
        color: $brown;
        font-size: 15px;
        text-transform: uppercase;
        background: #ffffff;
        border: 1px solid $brown;
        border-radius: 10px;
        padding: 3px 10px;

        & a {
          color: $brown;
        }
      }

    }

    .spinner-border {
      margin-top: 20px;
      color: $brown;
    }

    .header_label {
      .row {
        margin: 0;
      }
      img {
        width: auto;
        height: 80px;
      }
      h3 {
        font-family: "PT Serif";
        font-size: 10px;
        color: $brown;
        text-transform: uppercase;
      }
    }
  }

  .ui.menu {

    a {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      text-transform: uppercase;

    }


  }

  &_footer {
    @include clear;
    border-top: 1px solid $brown;
    border-bottom: 1px solid $brown;
    margin-top: 10px;
    & h5 {
      text-transform: uppercase;
      color: #ffffff;
      margin: 15px 0;
    }
  }
}

.ui.segment.tab {
  @include clear;
}