@import "../../partials/params";
@import "../../partials/mixins";

.home {
  &_header {
    @include clear;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $brown;

    .header_user {
      margin: 10px 0 0 10px;
      h5 {
        margin: 10px 0;
        font-family: "PT Serif";
        color: $brown;
        font-size: 22px;
      }
      button {
        font-family: "PT Serif";
        color: $brown;
        font-size: 15px;
        text-transform: uppercase;
        background: #ffffff;
        border: 1px solid $brown;
        border-radius: 10px;
        padding: 3px 10px;

        & a {
          color: $brown;
        }
      }

    }

    .spinner-border {
      margin-top: 20px;
      color: $brown;
    }

    .header_label {
      .row {
        margin: 0;
      }
      img {
        width: auto;
        height: 80px;
      }
      h3 {
        font-family: "PT Serif";
        font-size: 10px;
        color: $brown;
        text-transform: uppercase;
      }
    }
  }

  &_main {
    @include clear;
    background: #fefada;
    color: $brown;

    & .plus-minus {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      & .plus {
        h3 {
          text-transform: uppercase;
        }
        i {
          font-size: 40px;
        }
      }
      & .minus {
        h3 {
          text-transform: uppercase;
        }
        i {

        }
      }
    }

    & .money {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    & .costs {
      display: flex;
      justify-content: center;
      margin: 20px 0;

      h6 {
        padding-left: 10px;
      }

    }
  }

  &_footer {
    @include clear;
    border-top: 1px solid $brown;
    border-bottom: 1px solid $brown;
    & h5 {
      text-transform: uppercase;
      color: #ffffff;
      margin: 15px 0;
    }
  }
}

@media (max-width: 575.98px) {
  .home {
    &_header {
      .header_label {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}