@import "../../partials/params";
@import "../../partials/mixins";

.common-main {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 10px;
  padding: 14px;
  &_header {
    .all {
      margin-bottom: 5px;
      h3 {
        text-transform: uppercase;
        color: $brown;
        font-size: 24px;
      }
    }

    .available {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: #fff59d;
      padding: 10px;
      border-top: 2px solid $yellow;
      box-shadow: 0 0 5px rgba(0, 0, 0, .2);
      margin-bottom: 5px;
        h4{
          font-size: 18px;
          font-weight: 400;
        }
        h3{
          color: $brown;
        }
        h5 {
          color: #2237d8
        }
    }
  }

  &_details {
     .details-header {
       padding: 10px;
       h4{
         font-size: 18px;
         font-weight: 400;
       }
     }
    .bills {
      h5 {
        font-size: 17px;
        color: #003c03;
        margin-bottom: 8px;
      }
    }
    .bills-edit {
      input {
        padding: 3px;
      }
      button.ui.button{
        padding: 3px;
      }
    }
  }
}
// #fbbd08