@import "../../partials/params";
@import "../../partials/mixins";


.add-bills {
  @include clear;

  & button {
    background: none;

    & span {
      color: $brown;
    }
  }
}

#transition-modal-title {
  font-size: 20px;
}
#transition-modal-description {
  & button {
    margin-right: 10px;
  }
}